<form class="create-component" (ngSubmit)="addTask()">
  <h4>Create a new form</h4>
  <div>
    <label for="create[name]">Name :</label>
    <input id="create[name]" name="name" [(ngModel)]="newTask.name">

    <label for="create[deadline]">Deadline :</label>
    <input type="date" id="create[deadline]" name="deadline" [(ngModel)]="newTask.deadLine">  

    <label for="create[src]">Thumbnail Source :</label>
    <input id="create[src]" name="src" [(ngModel)]="newTask.src"><br>
    <small style="opacity:.5">ex: https://cdn.pixabay.com/photo/2016/03/26/13/09/notebook-1280538__340.jpg</small>

    <label for="create[status]">Status :</label>
    <select id="create[status]" name="status" [(ngModel)]="newTask.status">
      <option value="To Start">To Start</option>
      <option value="Doing">Doing</option>
      <option value="Done">Done</option>
    </select>

    <button>Create</button>
  </div>
</form>